@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 48% 94%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 231 20% 91%;
    --secondary-foreground: 231 20% 31%;

    --muted: 231 20% 91%;
    --muted-foreground: 231 20% 51%;

    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 231 20% 85%;
    --input: 231 20% 88%;
    --ring: 231 48% 48%;

    --radius: 0.5rem;

    --chart-1: 231 48% 48%;
    --chart-2: 174 100% 29%;
    --chart-3: 25 84% 60%;
    --chart-4: 280 84% 60%;
    --chart-5: 0 84% 60%;
  }

  .dark {
    --background: 231 22% 20%;
    --foreground: 0 0% 98%;

    --card: 231 22% 24%;
    --card-foreground: 0 0% 98%;

    --popover: 231 22% 24%;
    --popover-foreground: 0 0% 98%;

    --primary: 231 48% 68%;
    --primary-foreground: 231 48% 18%;

    --secondary: 231 22% 28%;
    --secondary-foreground: 0 0% 98%;

    --muted: 231 22% 28%;
    --muted-foreground: 231 10% 64%;

    --accent: 174 80% 49%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 231 22% 32%;
    --input: 231 22% 32%;
    --ring: 231 48% 68%;
    
    --chart-1: 231 48% 68%;
    --chart-2: 174 80% 49%;
    --chart-3: 25 74% 70%;
    --chart-4: 280 74% 70%;
    --chart-5: 0 74% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
